body {
    margin: 0;
    background-color:rgba(91, 189, 104, 0.972);
}
h1 {
    background-color: #e27249;
    color: black;
    text-align:center;
    font-size: 72px;
    margin:1;
    padding: 25px 20px 15px 10px;
}
h2 {
    background-color: #6086a5;
    color: black;
    text-align: center;
    font-size: 50px;
    margin: 0;
    padding: 20px;
}
.container {
    display: flex;
    flex-direction: row;
    border: 2px solid black;
    justify-content:space-between;
    }
.flex-item {
    text-align: center;
    font-size: 1rem;
}
.facts {
    display: flex;
    border: 2px dotted blue;
    flex-direction: column;
    background-color: rgb(187, 72, 91);
}
.sidebar {
    max-width: 60%;
    border: 4px double purple;
    flex-basis: 20px;
}